<?xml version="1.0" encoding="UTF-8" ?>
<module>
 <name>joummabags</name>
 <displayName>
 <![CDATA[joummabags]]>
 </displayName>
 <version>
 <![CDATA[1.0.0]]>
 </version>
 <description>
 <![CDATA[Actualiza el stock prestashop 1.7.x.x]]>
 </description>
 <author>
 <![CDATA[JosAlba]]>
 </author>
 <tab>
 <![CDATA[front_office_features]]>
 </tab>
 <confirmUninstall>
 <![CDATA[¿You want to uninstall?]]>
 </confirmUninstall>
 <is_configurable>0</is_configurable>
 <need_instance>0</need_instance>
 <limited_countries></limited_countries>
</module>